:root {
  --apricot: #fbc4ab;
  --red: #6f0000;
  --royal: #1e2895;
  --blue: #8ec3f5;
  --black: #000000;
  --white: #ffffff;
}

body {
  /*background-image: url(Images/space.gif);*/
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(var(--red), transparent),
    linear-gradient(to top left, var(--royal), transparent),
    linear-gradient(to top right, var(--black), transparent);
  background-blend-mode: screen;
}

h1 {
  font-family: "Old English Five", sans-serif;
  color: var(--red);
  font-size: 80px;
  /* -webkit-text-stroke: 1px var(--apricot); */
}

h2 {
  text-align: center;
  font-family: "Old English Five", sans-serif;
  font-size: 35px;
  color: var(--white);
}

h3{
  text-align: center;
  color: var(--white);
  font-size: 30px;
}

header {
  grid-area: header;
  text-align: center;
}

nav {
  grid-area: menu;
  text-align: center;
  /*background-color: var(--blue);*/
}

main {
  grid-area: main;
  /*background-color: var(--royal);*/
  color: var(--blue);
  font-size: 25px;
}

footer {
  grid-area: footer;
  color: var(--apricot);
  /*background-color: var(--royal);*/
}

main b {
  color: var(--black);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "menu header header header header header"
    "menu main main main main main "
    "footer footer footer footer footer footer";
  gap: 8px;
  padding: 5px;
}

.grid-container > div {
  border: 0px solid var(--black);
  padding: 2px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s;
  border: 2px solid var(--black);
}

.center:hover {
  transform: scale(1.5);
}

.checked {
  color: var(--red);
}

a {
  color: var(--apricot);
  text-decoration: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: var(--black);
  background-color: var(--black);
}

.sidebar a, .dropdown-btn {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 27px;
  display: block;
  transition: 0.3s;
  color: var(--red);
  padding: 6px 8px 6px 16px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  text-align: left;
}

.sidebar li a:hover {
  background-color: var(--black);
  color: var(--white);
}

.sidebar li a.active {
  background-color: var(--apricot);
  color: var(--black);
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}


ul {
  list-style: none;
}

.footer {
  min-width: 31%;
  float: left;
  margin: 10px;
  font-size: 20px;
text-align: center;
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "menu menu menu menu menu menu"
      "main main main main main main "
      "footer footer footer footer footer footer";
  }
}
