:root {
  --apricot: #FBC4AB;
  --red: #6F0000;
  --royal: #1E2895;
  --blue: #8EC3F5;
  --black: #000000;
  --white: #FFFFFF;
}

body{
  /*background-image: url(Images/space.gif);*/
  max-width: 1200px;
  margin: auto;

  background:
        linear-gradient(var(--black), transparent),
        linear-gradient(to top left, var(--royal), transparent),
        linear-gradient(to top right, var(--red), transparent);
    background-blend-mode: screen;
}

h1{
  font-family: 'Old English Five', sans-serif;
  color: var(--red);
  font-size: 80px;
  -webkit-text-stroke: 1px var(--apricot);
}

h2{
  text-align: center;
  font-family: 'Old English Five', sans-serif;
  font-size: 35px;
  color: var(--white);
}

header { 
  grid-area: header; 
  text-align: center; 
}

nav { 
  grid-area: menu; 
  text-align:center;
  /*background-color: var(--blue);*/
  color: var(--royal);
}

main { 
  grid-area: main; 
  /*background-color: var(--royal);*/
  color: var(--blue);
  font-size: 25px;
}

footer { 
  grid-area: footer; 
  text-align:center; 
  color: var(--white);
  /*background-color: var(--royal);*/
}

main b{
 color: var(--royal);
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main '
      'footer footer footer footer footer footer';
    gap: 8px;
    padding: 5px;
  }
  
  .grid-container > div {
    border: 0px solid var(--black);
    padding: 2px 0;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--red);
  }

  .checked {
    color: var(--red);
  }

  .sidebar {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .sidebar a {
    color: var(--apricot);
    text-decoration: none;
  }

  .sidebar li a:hover {
    background-color: var(--red);
    color: var(--white);
  } 

  .sidebar li a.active {
    background-color: var(--apricot);
    color: var(--black);
  }

  ul {
    list-style: none;
  }

  label b {
    color: var(--black);
  }

  /* Media Query for Responsive Layout */
  @media screen and (max-width: 600px) {
    .grid-container {
      grid-template-areas:
        'header header header header header header'
        'menu menu menu menu menu menu'
        'main main main main main main '
        'footer footer footer footer footer footer';
    }
  }
  
